#adminbar ul.menu{display:flex; height: 1em; position:fixed; width:5%; z-index:1;}
#adminbar ul.menu:hover{height: 100%;}

body{font-size:1em; margin:0; padding:0;}

div.logo{display:none;}

div.reply-label-wrapper{font-size:1em; left:85%; position:fixed; width:15%}

header{background:#ccc; display:flex; position:fixed;}

hr{display:none;}

nav.rmenu{color:transparent; display:flex; left:0; position:fixed; top:0; width:100%;}
