#adminbar ul.menu{background:#eee; display:flex; font-size:1em; height: 1em; position:fixed; top:0; transition:height 0.2s; width:5%; z-index:1;}
#adminbar ul.menu:hover{height: auto;}

body{font-size:1em; margin:0; padding:0;}

div.logo{display:none;}

div.reply-label-wrapper{font-size:1em; left:85%; position:fixed; width:15%}

footer{display:none;}

form.search{display:none;}

header{background:#ccc; display:flex; position:fixed;}

hr{display:none;}

nav.rmenu{background:#eee; color:transparent; display:flex; left:0; position:fixed; top:0; width:100%;}

section.posts{margin:1em 0 0 0;}
