#adminbar ul.menu{background:#eee; display:flex; font-size:1em; height: 1em; position:fixed; top:0; width:10%; z-index:1;}
#adminbar ul.menu:hover{border-radius:0 0 1em 1em; box-shadow:0 0 0.1em 0.1em rgba(0,0,0,0.1);height: auto;}

a{text-decoration:none;}

body{font-size:1em; margin:0; padding:0;}

div.logo{display:none;}

div.oppost-wrapper{margin:0 10%; width:80%;}

div.post-wrapper{display:inline-flex; margin:0; width:40%;}

div.reply{background:#eee; border:none;}

div.reply-label-wrapper{font-size:1em; left:85%; position:fixed; top:0; width:15%; z-index:300}

div.thread{text-align:center;}

footer{left:0; position:fixed; top:1em; width:10%;}

footer div.reply-label-wrapper{display:none;}

form.search{display:none;}

header{background:#ccc; display:flex; position:fixed; text-align:center;}

hr{display:none;}

nav.rmenu{background:#eee; color:transparent; display:none; left:5%; position:fixed; top:0; width:100%;}

section.posts{margin:0; text-align:center;}

.reply.hidden-thread-box,.hidden-post-box{border:none!important; cursor:pointer;}
